.remember-password{
    text-align: center;
}
.icon{
    margin: 20px auto;
}
.remember-password h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}
.remember-password p{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin: 16px 0 8px;
}
.btn-container{
    margin: 24px 0;
    text-align: center;
}
.btn-primary{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid #D8D9DB;
    border-radius: 24px;
    padding: 10px 5px;
    text-align: center;
    color: #262626;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus{
    color: #40E593;
}