<div class="credentail">
    <h2>Enter your credentials</h2>
    <div class="floating">
        <input id="userName" class="floating__input" name="username" placeholder="Username" />
        <label for="userName" class="floating__label" data-content="Username">
            <span class="hidden--visually">Username</span>
        </label>
    </div>
    <div class="floating">
        <input id="password" class="floating__input" type="password" name="password" placeholder="Password" />
        <label for="password" class="floating__label" data-content="Password">
            <span class="hidden--visually">Password</span>
        </label>
    </div>
    <div class="floating">
        <input id="pinNo" class="floating__input" type="number" maxlength="4" name="pin" placeholder="PIN Last 4 of SSN" />
        <label for="pinNo" class="floating__label" data-content="PIN Last 4 of SSN">
            <span class="hidden--visually">PIN / Last 4 of SSN</span>
        </label>
    </div>
    <div class="btn-container">
        <button class="btn-primary" value="submit" (click)="handle('credential')">Submit</button>
    </div>
</div>