<div class="complete-bill">
    <h1>What’s Next?</h1>
    <div class="thumnail-container">
        <div class="thumnail">
            <img src="../../assets/images/ICON1.svg" alt="icon" />
        </div>
        <div class="thumnail">
            <img src="../../assets/images/ICON2.svg" alt="icon" />
        </div>
        <div class="thumnail">
            <img src="../../assets/images/ICON3.svg" alt="icon" />
        </div>
        <div class="thumnail">
            <img src="../../assets/images/ICON4.svg" alt="icon" />
        </div>
        <div class="thumnail">
            <img src="../../assets/images/ICON5.svg" alt="icon" />
        </div>
    </div>
    <div class="notes">
        <div class="note"><span>Chime will monitor these bills for changes. </span></div>
        <div class="note"><span>Chime will try to find lower rates for these bills. </span></div>
        <div class="note"><span>Chime will pay these bills for you on time every month. </span></div>
    </div>
    <button>+ More Bills</button>
    <button (click)="goToNextPage()">I’m Done</button>
</div>