<div class="bill-linked">
    <div class="icon">
        <img src="../../../../assets/images/done-gfx.svg" alt="Done" />
    </div>
    <h2>Bill was linked</h2>

    <div class="bill-linked-list">

        <div class="bill-linked-item">
            <div class="bill-heading">
                <h3>Bill Negotiation</h3>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>        
                </label>
            </div>
            <p>We will monitor your bills for any unusual changes</p>
        </div>

        <div class="bill-linked-item">
            <div class="bill-heading">
                <h3>Bill Monitoring</h3>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>        
                </label>
            </div>
            <p>We will talk to U-verse on your behalf and get you lower rates. Average user saves $450/year.</p>
        </div>

        <div class="bill-linked-item">
            <div class="bill-heading">
                <h3>Bill Payment</h3>
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>        
                </label>
            </div>
            <p>Your U-verse bill will be paid from Chime checking account 6344 on every 8th of the month.</p>
        </div>

    </div> 
    
    <div class="btn-container">
        <button class="btn-primary" (click)="handle('next-bill')">Link Next Bill</button> 
    </div>
</div>