<div class="select-provider">
    <h2>Who is your {{billName}} provider?</h2>
    <div class="provider-list">
        <div class="provider-item" *ngFor="let provider of providerList;let i =index">
            <label class="custom-radio"> <span class="name">{{provider?.name}}</span> 
                <input type="radio" name="select_provider" [value]="provider?.name" [id]="i" />
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="btn-container">
        <button class="btn-primary" value="confirm" (click)="handle('select-provider')">Confirm</button>
        <span class="btn-link" (click)="handle('select-provider')">I don’t have internet</span>
    </div>
</div>
